.main-container {
  display: flex;
  width: 100%;
  min-height: 75%;
  background-color: white;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border-right: 1px solid #D8D8D8;
}

.left-container h3,
.left-container h3 i {
  font-size: 1.6rem;
  color: #0366D6;
}

.left-container h3 {
  text-align: center;
  font-weight: 200;
  border-bottom: 1px solid #D8D8D8;
  margin: 0px;
  margin-top: 20px;
  width: 100%;
  height: 40px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.option {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.option:hover{
  border-left: 4px solid #0366D6;
}

.badge{
  text-align: center;
  color: white ;
  background-color: #03a9f4;
  padding:0px  10px;
  border-radius: 10px;
  font-size: 1.08rem;
}

.right-container {
  display: flex;
   justify-content: center; 
   /* align-items: center; */ 
   width: 100%; 
  border-left: 1px solid #D8D8D8;
}

.presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #009688;
}

.presentation h3 {
  font-size: 1.8rem;
  font-weight: 200;
  margin: 0px;
  margin-top: 20px;
}

.presentation p {
  margin: 0px;
  margin-top: 5px;
}
.table-container{
  margin:0px
}