<div class="scroll info-container container">
    <h2 class="title">
        <i class={{title[0]}}>
        </i> &nbsp;{{title[1]}}
    </h2>
    <p class="msj">En el módulo USUARIOS podrá registrar 
        las empresas a los cuales usted les compra 
        nuevos usuarios en el sistema, ya sea un administrador o 
        un cajero, también podra ver la lista de usuarios 
        registrados, buscar usuarios en el sistema y actualizar 
        datos de otros usuarios
    </p>
    <ul class="list-options">
        <li (click)="selected(true,false)" 
        [ngClass]="selectedClass(option1)">
            <a routerLink="nuevo usuario" 
            [class.active]="option1" class="option-component">
                <div class="container">
                    <i class="fa fa-user-tie fa-fw"></i>
                    &nbsp;&nbsp;NUEVO USUARIO
                </div>
            </a>
        </li>
        <li (click)="selected(false,true)" 
        [ngClass]="selectedClass(option2)">
            <a routerLink="lista usuarios" 
            [class.active]="option2" class="option-component">
                <div class="container">
                    <i class="fa fa-user-tie fa-fw"></i>
                    &nbsp;&nbsp;LISTA DE USUARIOS
                </div>
            </a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>

