<div class="table-container">
    <div class="table-title">
        <h6>Productos en el almacen</h6>
    </div>
    <div class="table-body">
        <div class="search-pagination" [formGroup]="tableSearch">
            <div class="dataTable-length">
                <label>Mostrar
                    <select name="dataTable_length" 
                    formControlName="numberRows" 
                    class="custom-select"
                        (change)="createPages(tableSearch,currentData,products)">
                        <option value="2">2</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entradas</label>
            </div>
            <div class="dataTable-filter">
                <label>Buscar:
                    <input formControlName="search" 
                    class="input-search dataTable-filter" 
                    (keyup)="createPages(tableSearch,currentData,products)">
                </label>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Código de barra</th>
                        <th>Descripcion</th>
                        <th>Precio de compra</th>
                        <th>precio de venta</th>
                        <th>Descuento</th>
                        <th>Vendidos</th>
                        <th>Existentes</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let product of products | 
                    tableFilter:getValuesToPipe(tableSearch);let i=index">
                    <td>{{i+1}}</td>
                    <td>{{product.barcode}}</td>
                    <td>{{product.name}} &nbsp; {{product.mark}}&nbsp;{{product.model}}</td>
                    <th>{{product.buy_price}}</th>
                    <th>{{product.sell_price}}</th>
                    <th>{{product.discount|percent:'2.2-2'}}</th>
                    <th>{{product.sell_quantity}}</th>
                    <th>{{product.exist_quantity}}</th>
                    <td class="icon" (click)="redirectToUpdate(product)"><i class="fa fa-arrows-rotate update"></i></td>
                    <td class="icon"(click)="openModalToDelete(); productToDelete=product">
                        <i class="fa fa-trash-can delete"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="search-pagination">
            <div class="dataTables_info" #dataTables_info>
            </div>
            <div class="pagination-responsive">
                <ul class="pagination" #pagination>
                    <li class="previous page-item dataTables_info items"
                        [class.disable]="getValuesToPipe(tableSearch).indexCurrentPage===0"
                        [class.active]="getValuesToPipe(tableSearch).indexCurrentPage!=0" 
                        (click)="previousPage(tableSearch,currentData,products)">
                        Previous
                    </li>

                    <li class="next dataTables_info active items" #next
                        [class.disable]="getValuesToPipe(tableSearch).indexCurrentPage===numberPages-1" 
                        (click)="nextPage(tableSearch,currentData,products)">
                        Next
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<dialog class="dialog" #popup>
    <i class="fa fa-arrows-rotate"></i>
    <h3>¿Estas seguro?</h3>
    <p>Lois datos seran guardados en el sistema</p>
    <div>
        <button class="form-button btn-save" (click)="delete(productToDelete)">
            &nbsp;&nbsp;ACEPTAR</button>
        <button *ngIf="this.popUp?.nativeElement.children[1].textContent === '¿Estás seguro?'"
         class="form-button btn-save" (click)="cancel(popUp)">
            &nbsp;&nbsp;CANCELAR</button>
    </div>
</dialog>