
<div class="table-container">
    <div class="table-title">
        <h6>Productos por vencimiento</h6>
    </div>
    <div class="table-body">
        <div class="search-pagination" [formGroup]="tableSearch">
            <div class="dataTable-length">
                <label>Mostrar
                    <select name="dataTable_length" 
                    formControlName="numberRows" 
                    class="custom-select"
                        (change)="createPages(tableSearch,currentData,products)">
                        <option value="2">2</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entradas</label>
            </div>
            
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Código de barra</th>
                        <th>Descripción</th>
                        <th>Garantia</th>
                        <th>vencimiento</th>
                        <th>Cantidad existente</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let product of products | 
                    tableFilter:getValuesToPipe(tableSearch);let i=index">
                        <td>{{i+1}}</td>
                        <td>{{product.barcode}}</td>
                        <td>{{product.name}} &nbsp;{{product.mark}}&nbsp;{{product.model}}</td>
                        <td>{{product.garanty}}</td>
                        <td>{{product.expir|date}}</td>
                        <td>{{product.exist_quantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="search-pagination">
            <div class="dataTables_info" #dataTables_info>
            </div>
            <div class="pagination-responsive">
                <ul class="pagination" #pagination>
                    <li class="previous page-item dataTables_info items"
                        [class.disable]="getValuesToPipe(tableSearch).indexCurrentPage===0"
                        [class.active]="getValuesToPipe(tableSearch).indexCurrentPage!=0" 
                        (click)="previousPage(tableSearch,currentData,products)">
                        Previous
                    </li>

                    <li class="next dataTables_info active items" #next
                        [class.disable]="getValuesToPipe(tableSearch).indexCurrentPage===numberPages-1" 
                        (click)="nextPage(tableSearch,currentData,products)">
                        Next
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

