<div class="form-container" *ngIf="kardex!==undefined && productOperation!==undefined">
    <div class="back">
        <button (click)="redirectToKardex()" class="form-button btn-save"><i class="fas fa-reply"></i>
            &nbsp;Regresar</button>
    </div>
    <h3 class="form-title">
        &nbsp;KARDEX {{kardex.type|uppercase}} ({{product.name|uppercase}} {{product.mark|uppercase}} 
        {{product.model|uppercase}})
    </h3>
    <div class="datos" >
        <div *ngIf="kardex.type.includes('compra')">
            <h3>ENTRADAS</h3>
            <p><strong>Fecha: </strong>{{kardex.date|date:'dd/MM/yyyy'}} {{kardex.time|date:'hh:mm:ss aaaa'}}</p>
            <p><strong>N° factura: </strong>{{kardex.id_operation}}</p>
            <p *ngIf="kardex.type==='compra'"><strong>Entrada de unidades: </strong>{{kardex.quantity_products}}</p>
            <p *ngIf="kardex.type!=='compra'"><strong>Unidades devueltas: </strong>{{kardex.quantity_products}}</p>
            <p><strong>Costo de unidades: </strong>
                {{productOperation.buy_price|currency:kardex.coin_kardex+' '}}
                <i *ngIf="kardex.coin_kardex!=mainCoin.symbol"> /
                    {{comunicatorSvc.converterToMainCoin(productOperation.buy_price,kardex.exchange)|currency:mainCoin.symbol+' '}}</i>
            </p>
            <p><strong>Precio de venta de unidades: </strong>
                {{productOperation.sell_price|currency:kardex.coin_kardex+' '}}
                <i *ngIf="kardex.coin_kardex!=mainCoin.symbol"> /
                    {{comunicatorSvc.converterToMainCoin(productOperation.sell_price,kardex.exchange)|currency:mainCoin.symbol+' '}}</i>
            </p>
            <p><strong>Total: </strong>{{productOperation.sell_price*kardex.quantity_products | currency:kardex.coin_kardex+' '}}
                <i *ngIf="kardex.coin_kardex!=mainCoin.symbol"> /
                    {{comunicatorSvc.converterToMainCoin(productOperation.sell_price,kardex.exchange)*
                        kardex.quantity_products|currency:mainCoin.symbol+' '}}</i>
            </p>
        
            <p *ngIf="kardex.coin_kardex!=mainCoin.symbol"><strong>
                Tasa de cambio a la moneda principal: </strong>{{kardex.exchange|currency:mainCoin.symbol+' '}}</p>
        </div>
        <div *ngIf="kardex.type.includes('venta')">
            <h3>SALIDAS</h3>
            <p><strong>Fecha: </strong>{{kardex.date|date:'dd/MM/yyyy'}} {{kardex.time|date:'hh:mm:ss aaaa'}}</p>
            <p><strong>N° factura: </strong>{{kardex.id_operation}}</p>
            <p *ngIf="kardex.type==='venta'"><strong>Salida de unidades: </strong>{{kardex.quantity_products}}</p>
            <p *ngIf="kardex.type!=='venta'"><strong>Unidades devueltas: </strong>{{kardex.quantity_products}}</p>
            <p><strong>Precio: </strong>{{kardex.price | currency:kardex.coin_kardex+' '}}</p>
            <p *ngIf="kardex.type==='venta'"><strong>SubTotal: </strong>{{kardex.price*kardex.quantity_products | currency:kardex.coin_kardex+' '}}</p>
            <p *ngIf="kardex.type!=='venta'"><strong>Total: </strong>{{kardex.price*kardex.quantity_products | currency:kardex.coin_kardex+' '}}</p>
            <p *ngIf="kardex.type==='venta' && sell!=undefined"><strong>Descuento de venta: </strong>{{sell.discount|percent:'2.2-2'}}</p>
            <p *ngIf="kardex.type==='venta' && sell!=undefined"><strong>valor de descuento: </strong>{{calcularDescuentoVenta().value_discount|
                currency:kardex.coin_kardex+' '}}</p>
            <p *ngIf="kardex.type==='venta' && sell!=undefined"><strong>Total: </strong>{{calcularDescuentoVenta().price | currency:kardex.coin_kardex+' '}}</p>
        </div>
        <div>
            <h3>EXISTENCIAS</h3>
            <p *ngIf="kardex.type==='compra'|| kardex.type==='Devolución de venta' "><strong>Inventario inicial: </strong>{{kardex.exist-kardex.quantity_products}}</p>
            <p *ngIf="kardex.type==='venta' || kardex.type==='Devolución de compra' "><strong>
                Inventario inicial: </strong>{{kardex.exist+kardex.quantity_products}}</p>
            
            <p><strong>Inventario final:</strong> {{kardex.exist}}</p>
            <p><strong>Precio inicial del producto: </strong>{{productOperation.sell_price|currency:kardex.coin_kardex+' '}}
                <i *ngIf="kardex.coin_kardex!=mainCoin.symbol"> /
                    {{comunicatorSvc.converterToMainCoin(productOperation.sell_price,kardex.exchange)|currency:mainCoin.symbol+' '}}</i>
            </p>
            
            <p><strong>Descuento del producto:</strong> {{productOperation.discount_product|percent:'2.2-2'}}</p> 
            <p><strong>Valor de descuento: </strong>
                {{productOperation.sell_price*productOperation.discount_product|currency:kardex.coin_kardex+' '}}
                <i *ngIf="kardex.coin_kardex!=mainCoin.symbol"> /
                    {{comunicatorSvc.converterToMainCoin(productOperation.sell_price,kardex.exchange)*productOperation.discount_product|
                    currency:mainCoin.symbol+' '}}</i>
            </p>
            <p><strong>Impuesto: </strong>{{productOperation.impuest|percent:'2.2-2'}}</p>
            <p><strong>Valor del impuesto: </strong>{{calcularMontoImponible(productOperation.sell_price)|
                currency:kardex.coin_kardex+' '}}
                <i *ngIf="kardex.coin_kardex!=mainCoin.symbol"> /
                    {{calcularMontoImponible(comunicatorSvc.converterToMainCoin(productOperation.sell_price,kardex.exchange))}}</i>
            </p>
            <p><strong>Precio final del producto :</strong> 
                {{comunicatorSvc.converterToSecondaryCoin(kardex.weighted_averages_sell,kardex.exchange)|currency:kardex.coin_kardex+' '}}
                <i *ngIf="kardex.coin_kardex!=mainCoin.symbol"> /
                    {{kardex.weighted_averages_sell}}</i>
            </p>
            <p><strong>Total: </strong>  {{comunicatorSvc.converterToSecondaryCoin(
                kardex.weighted_averages_sell,kardex.exchange)*kardex.exist|currency:kardex.coin_kardex+' '}}
                <i *ngIf="kardex.coin_kardex!=mainCoin.symbol"> /
                  {{kardex.weighted_averages_sell*kardex.exist|currency:mainCoin.symbol+' '}}</i>
            </p>
        </div> 

    </div>
</div>
