<div class="scroll info-container container">
    <h2 class="title">
        <i class="fas fa-store-alt fa-fw"></i>
        &nbsp;DATOS DE LA EMPRESA
    </h2>
    <p class="msj">En el módulo EMPRESA usted podrá registrar los datos de su compañia, negocio u
        organización. Una vez registrados los datos de su empesa solo podrá actualizarlos en caso
        que quiera cambiar algún dato, ya no será necesario registralos nuevamente
    </p>
    <div class="form-container">
        <h3 class="form-title">
            <i class="far fa-address-card"></i>
            &nbsp;Datos de la empresa
        </h3>
        <div class="form" [formGroup]="formBuilding">
            <div class="form-group">
                <div class="form-control">
                    <label class="form-label" [ngClass]="{'label-on-focus-up':
                    elementHasFocus[0]}" [ngStyle]="animationLabel(formBuilding,'select')">
                        Tipo de documento
                        <i class="fab fa-font-awesome-alt"></i>
                    </label>
                    <select formControlName="document_type"  class="form-input" (focus)="isFocused(0,formBuilding,'select')"
                        (focusout)="isFocused(0,formBuilding,'select')">
                        <option>V- </option>
                        <option>E- </option>
                        <option>P- </option>
                        <option>J- </option>
                        <option>G- </option>
                    </select>
                </div>
                <div class="form-control" [ngClass]="{'input-on-focus-success':verifyStyleInput(formBuilding,'document_number')&&
                elementHasFocus[1],'input-on-focus-fail':!verifyStyleInput(formBuilding,'document_number')}">
                    <label class="form-label" [ngClass]="{'label-on-focus-down':
                    elementHasFocus[1]&&positionLabel[1],
                    'label-on-focus-up':
                    elementHasFocus[1]&&!positionLabel[1]}"
                     [ngStyle]="animationLabel(formBuilding,'document_number')">
                        Número de documento
                        <i class="fab fa-font-awesome-alt"></i>
                    </label>
                    <input formControlName="document_number" (focus)="isFocused(1,formBuilding,'document_number')"
                        (focusout)="isFocused(1,formBuilding,'document_number')" 
                        class="form-input" [ngStyle]="styleForeground(formBuilding,'document_number')">
                </div>
                <div class="form-control" [ngClass]="{'input-on-focus':elementHasFocus[2]}">
                    <label class="form-label" [ngClass]="{'label-on-focus-down':
                    elementHasFocus[2]&&positionLabel[2],
                    'label-on-focus-up':
                    elementHasFocus[2]&&!positionLabel[2]}" [ngStyle]="animationLabel(formBuilding,
                    'name')">
                        Nombre
                        <i class="fab fa-font-awesome-alt"></i>
                    </label>
                    <input formControlName="name" (focus)="isFocused(2,formBuilding,'name')"
                        (focusout)="isFocused(2,formBuilding,'name')" class="form-input">
                </div>
                <div class="form-control" [ngClass]="{'input-on-focus':elementHasFocus[3]}">
                    <label class="form-label" [ngClass]="{'label-on-focus-down':
                    elementHasFocus[3]&&positionLabel[3],
                    'label-on-focus-up':
                    elementHasFocus[3]&&!positionLabel[3]}" [ngStyle]="animationLabel(formBuilding,
                    'address')">
                        Dirección
                    </label>
                    <input formControlName="address" (focus)="isFocused(3,formBuilding,'address')"
                        (focusout)="isFocused(3,formBuilding,'address')" 
                        class="form-input" >
                </div>
            </div>
            <h3 class="form-title">
                <i class="fas fa-user-friends"></i>
                &nbsp;Información de contacto
            </h3>
            <div class="form-group">
                <div class="form-control" 
                [ngClass]="{'input-on-focus-success':verifyStyleInput(formBuilding,'phone_number')&&
                elementHasFocus[4],'input-on-focus-fail':!verifyStyleInput(formBuilding,'phone_number')}">
                    <label class="form-label" [ngClass]="{'label-on-focus-down':
                    elementHasFocus[4]&&positionLabel[4],
                    'label-on-focus-up':
                    elementHasFocus[4]&&!positionLabel[4]}" [ngStyle]="animationLabel(formBuilding,
                    'phone_number')">
                        Télefono
                    </label>
                    <input formControlName="phone_number" (focus)="isFocused(4,formBuilding,'phone_number')"
                        (focusout)="isFocused(4,formBuilding,'phone_number')" 
                        class="form-input" [ngStyle]="styleForeground(formBuilding,'phone_number')">
                </div>
                <div class="form-control"
                [ngClass]="{'input-on-focus-success':verifyStyleInput(formBuilding,'email')&&
                elementHasFocus[5],'input-on-focus-fail':!verifyStyleInput(formBuilding,'email')}">
                    <label class="form-label" [ngClass]="{'label-on-focus-down':
                    elementHasFocus[5]&&positionLabel[5],
                    'label-on-focus-up':
                    elementHasFocus[5]&&!positionLabel[5]}" [ngStyle]="animationLabel(formBuilding,
                    'email')">
                        Email
                    </label>
                    <input formControlName="email" (focus)="isFocused(5,formBuilding,'email')"
                        (focusout)="isFocused(5,formBuilding,'email')" 
                        class="form-input" [ngStyle]="styleForeground(formBuilding,'email')">
                </div>
            </div>
            <h3 class="form-title">
                <i class="fas fa-user-friends"></i>
                &nbsp;Información de impuestos
            </h3>
            <div class="form-group">
                <div class="form-control" 
                [ngClass]="{'input-on-focus-success':verifyStyleInput(formBuilding,'name_tax')&&
            elementHasFocus[6],'input-on-focus-fail':!verifyStyleInput(formBuilding,'name_tax')}">
                    <label class="form-label" [ngClass]="{'label-on-focus-down':
                elementHasFocus[6]&&positionLabel[6],
                'label-on-focus-up':
                elementHasFocus[6]&&!positionLabel[6]}" [ngStyle]="animationLabel(formBuilding,
                'name_tax')">
                        Nombre de impuesto
                        <i class="fab fa-font-awesome-alt"></i>
                    </label>
                    <input formControlName="name_tax" (focus)="isFocused(6,formBuilding,'name_tax')"
                        (focusout)="isFocused(6,formBuilding,'name_tax')" class="form-input"
                        [ngStyle]="styleForeground(formBuilding,'name_tax')">
                </div>
                <div class="form-control" 
                [ngClass]="{'input-on-focus-success':verifyStyleInput(formBuilding,'tax_rate')&&
            elementHasFocus[7],'input-on-focus-fail':!verifyStyleInput(formBuilding,'tax_rate')}">
                    <label class="form-label" [ngClass]="{'label-on-focus-down':
                elementHasFocus[7]&&positionLabel[7],
                'label-on-focus-up':
                elementHasFocus[7]&&!positionLabel[7]}" [ngStyle]="animationLabel(formBuilding,
                'tax_rate')">
                        Porcentaje del impuesto (%)
                        <i class="fab fa-font-awesome-alt"></i>
                    </label>
                    <input type="tax_rate" formControlName="tax_rate" (focus)="isFocused(7,formBuilding,'tax_rate')"
                        (focusout)="isFocused(7,formBuilding,'tax_rate')" class="form-input"
                        [ngStyle]="styleForeground(formBuilding,'tax_rate')">
                </div>
            </div>
            <p>
                &nbsp;¿Mostrar impuesto en facturas y tickets?
            </p>
            <div class="form-group">
                <label class="ratio-buttons">
                    <input formControlName="show_tax" type="radio" name="show_tax" value=true checked>
                    &nbsp;<i class="far fa-check-circle fa-fw"></i>&nbsp;Si
                </label>

            </div>
            <div class="form-group">
                <label class="ratio-buttons">
                    <input formControlName="show_tax" type="radio" name="show_tax" value=false>
                    &nbsp;<i class="far fa-times-circle fa-fw"></i>&nbsp;No
                </label>

            </div>

            <div class="form-group">
                <div class="form-control">
                    <label class="form-label" [ngClass]="{'label-on-focus-up':
                    elementHasFocus[8]}" [ngStyle]="animationLabel(formBuilding,'select')">
                        seleccione la moneda principal
                        <i class="fab fa-font-awesome-alt"></i>
                    </label>
                    <select name="" id="" class="form-input" (focus)="isFocused(8,formBuilding,'select')"
                        (focusout)="isFocused(8,formBuilding,'select')">
                        <option value="" disabled selected>Seleccione la moneda principal</option>
                        <option *ngFor="let coin of coins" value="{{coin.symbol}}">{{coin.name}}</option>
                    </select>
                </div>

            </div>
            <div class="form-actions">
                <div *ngIf="formBuilding.get('document_number')?.value.length<=0">
                    <button class="form-button" id="btn-success" 
                    [ngClass]="{'btn-save':formBuilding.valid}">
                        <i class="far fa-save"></i>
                        &nbsp;&nbsp;ACEPTAR</button>
                    <button class="form-button btn-clean" id="btn-clean" (click)="clean()">
                        <i class="fas fa-paint-roller"></i>
                        &nbsp;&nbsp;LIMPIAR</button>
                </div>
                <div *ngIf="formBuilding.get('document_number')?.value.length>0">
                    <button class="form-button" (click)="validarUpdate()"
                    [ngClass]="{'btn-update':formBuilding.valid}">
                        <i class="fa fa-arrows-rotate"></i>
                        &nbsp;&nbsp;ACTUALIZAR</button>
                </div>
            </div>
            <p class="form-info">Los campos marcados con <i class="fab fa-font-awesome-alt"></i> 
                son obligatorios</p>
        </div>
    </div>
</div>
<dialog class="dialog" #popup>
    <i class="fa fa-arrows-rotate"></i>
    <h3>¿Estás seguro?</h3>
    <p>Los datos seran guardados en el sistema</p>
    <div>
        <button class="form-button btn-save" (click)="acept()">
            &nbsp;&nbsp;ACEPTAR</button>
        <button *ngIf="this.popUp?.nativeElement.children[1].textContent === '¿Estás seguro?'"
         class="form-button btn-save" (click)="cancel(popUp)">
            &nbsp;&nbsp;CANCELAR</button>
    </div>
</dialog>