<div class="fondo">
    <div class="panel">
        <div class="sing">
            <h3 class="title">Iniciar sesión</h3>
            <div class="control">
                <label>Documento de identificacion</label>
                <div class="input">
                   <!--  <i class="fa-solid fa-envelope"></i> -->
                    <select>
                        <option>V- </option>
                        <option>E- </option>
                        <option>P- </option>
                        <option>J- </option>
                        <option>G- </option>
                    </select>
                    <input type="text">
                </div>
            </div>
            <div class="control">
                <label>Contraseña</label>
                <div class="input">
                    <i class="fa-solid fa-key"></i>
                   
                    <input type="password">
                </div>
            </div>
            <p>¿olvidó su contraseña?</p>
            <button>Iniciar sesion</button>
        </div>
    </div>
    <div class="estilo">
        
        <img src="../../assets/zyro-image.jpeg">
        <p id="cabezera">Nos ocupamos de lo que a ti te preocupa.</p>
        <p id="footer">Se felíz.</p>
    </div>
</div>